.panel.panel-primary
  .panel-heading.bolder Dniówki
  %table.table
    %thead
      %tr
        %th Dzień
        %th Borówka
        %th Malina
        %th Jeżyna
        %th Godziny
        %th Jedzenie
        %th Suma
        %th Akcje

    %tbody
      - @days.each do |day|
        %tr
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          %td 
            =link_to 'Edycja', edit_day_path(day), class: "btn btn-warning btn-sm", role: "button"
            =link_to 'Usuń', day, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-sm", role: "button"

%br
=simple_form_for @day, html:{class: "form-inline well hidden"} do |d|
  .form-group
    .input-group
      = d.label "Data: "
      = d.input :date, :as => :date_picker, label: false, input_html: { value: Time.now.strftime("%d/%m/%Y") }
    .input-group
      = d.simple_fields_for blueberry do |b|
        =b.label "Borówka: "
        =b.input :kg, label: false, input_html: { min: '0', value: '0' }
        .input-group-addon
          %em kurs:
          %br
          1.0
    .input-group
      = d.simple_fields_for raspberry do |b|
        =b.label "Malina: "
        =b.input :kg, label: false, input_html: { min: '0', value: '0' }
        .input-group-addon
          %em kurs:
          %br
          1.0
    .input-group
      = d.simple_fields_for blackberry do |b|
        =b.label "Jeżyna: "
        =b.input :kg, label: false, input_html: { min: '0', value: '0' }
        .input-group-addon
          %em kurs:
          %br
          1.0
    .input-group
      = d.simple_fields_for hour do |b|
        =b.label "Godziny:"
        =b.input :amount, label: false, input_html: { min: '0', value: '0' }
        .input-group-addon
          %em kurs:
          %br
          5.0

  = d.button :button, class: "btn btn-success go-right" do
    Potwierdź

%button.btn.btn-danger.hidden#cancel Anuluj

= link_to 'Dodaj dniówke', '#', class: "btn btn-info btn-lg", role: "button", id: "showday"